@import "common/reset";
@import "common/header";
@import "common/mobileHeader";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";
@import "common/scrollbar";

// html,
// body {
//   background-color: #2c2626;
// }

.banner-container {
    display: block;
    width: 100%;
    position: relative;
    img {
        width: 100%;
    }
}

.banner-title {
    position: absolute;
    top: 34%;
    left: 7%;
    width: 40%;
    font-family: "Oswald";
    color: white;
    word-spacing: 2px;
    font-size: 22px;
}

.orange-highlight {
    color: $orange;
}



#users, #products {
    font-family: "Roboto";
    border-collapse: collapse;
    width: 100%;
}

#users td, #products td, #users th, #products th {
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even), #products tr:nth-child(even){
    background-color: #f2f2f2;
}

#users tr:hover , #products tr:hover {
    background-color: #ddd;
}

#users th, #products th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $orange;
    color: $white;
}

.update-table-icon-container {
    width: 44%;
    margin: 0 auto;
}

.section-title {
    color: $black-background;
    font-size: 14px;
    margin: 0 10px 0 10px;
}

.title-container {
    display: flex;
    align-items: center;
    margin: 15px 0 15px 0;
}

.title-icon {
    height: 20px;
}

.update-table-icon-container {
    width: 28%;
    margin: 0 auto;
}

.table-container {
    height: 500px;
    overflow: auto;

    > table > thead {
        position: sticky;
        top: 0;
        font-size: 12px;
    }

    > table > tbody {
        p {
            font-size: 10px;
        }
    }
}

        .update-icon {
            height: 25px;
            width: auto;
        }

        .product-picture {
            height: 60px;
            width: auto;
        }

.desktop-product-update-link-button {
    @include button($redButtonColour);
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
}

@media #{$media-up} {

    .banner-container {
        display: block;
        width: 100%;
        position: relative;
        img {
            width: 100%;
        }
    }

    .banner-title {
        position: absolute;
        top: 50%;
        left: 10%;
        width: 40%;
        font-family: "Oswald";
        color: white;
        word-spacing: 2px;
        font-size: 80px;
    }

    .header-container {
        width: 100%;
        position: absolute;
        top:0;
      }
    
      .title-container {
        display: flex;
        align-items: center;
        margin: 10px 10px 10px 10px;
      }
    
      .section-title {
        margin: 10px 10px 10px 10px;
        font-size: 20px;
        color: $black-background;
      }

      .title-icon {
        height: 20px;
      }
    
    .add-user-form {
        display: flex;
        justify-content: space-around;
    }
    
    .form-button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        label {
            margin: 10px 0 10px 0;
        }
        input {
            margin: 10px 0 10px 0;
        }
    }
    
    #users, #products {
        font-family: "Roboto";
        border-collapse: collapse;
        width: 100%;
    }
    
    #users td, #products td, #users th, #products th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #users tr:nth-child(even), #products tr:nth-child(even){
        background-color: #f2f2f2;
    }
    
    #users tr:hover , #products tr:hover {
        background-color: #ddd;
    }
    
    #users th, #products th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $orange;
        color: $white;
    }
    
    .update-table-icon-container {
        width: 44%;
        margin: 0 auto;
    }
    
    .title-icon {
        height: 40px;
    }

    .update-table-icon-container {
        width: 28%;
        margin: 0 auto;
    }

    .table-container {   
        > table > thead {

            font-size: 16px;
        }
    
        > table > tbody {
    
            p {
                font-size: 14px;
            }
        }
    }

    .update-icon {
        height: 50px;
        width: auto;
    }

    .product-picture {
        height: 130px;
        width: auto;
      }
    
}
    