@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/responsive";

%subtitle {
  color: $white;
  margin: 0;
  font-size: $mobile-subitle-font-size;
  width: 100%;
}

.banner-container {
  width: 100%;
  display: flex;
  position: relative;
  .main-title {
    color: $white;
    font-size: $big-size;
    position: absolute;
    top: 45%;
    left: 49%;
    width: 494px;
    font-family: "Oswald";
  }
}

.brand-banner {
  width: 100%;
}

.orange-highlight {
  color: $orange;
}

%section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.first-section {
  @extend %section;
  background-color: $black-background;
}

.subtitle {
  @extend %subtitle;
}

%side-line {
  width: 3px;
  height: 62%;
  margin-top: 6%;
}

@mixin sideLineColor($color) {
  @extend %side-line;
  background-color: $color;
}

.yellow-side-line {
  @include sideLineColor($yellow);
}

.white-side-line {
  @include sideLineColor($white);
}

.content-container {
  width: 85%;
}

.text {
  p {
    color: $white;
    font-size: 12px;
    font-family: "roboto";
  }
}

.yellow-box {
  display: none;
}

.man-watch-picture {
  display: none;
}

.running-woman-picture {
  display: none;
}

.second-section {
  @extend %section;
  background-color: $blue;
}

.third-section {
  // @extend %section;
  background-color: $lightBlack;
  height: 245px;
}

.character-container {
  display: flex;
  justify-content: space-evenly;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.character-picture {
  height: 192px;
  width: 135px;
}

@media #{$media-up} {
  .main-title {
    text-transform: uppercase;
  }

  .yellow-box {
    display: block;
    width: 27%;
    background-color: $yellow;
  }
  .first-part {
    display: flex;
    position: relative;
    height: 75%;
  }

  .second-part {
    display: flex;
    height: 83%;
  }

  .man-watch-picture {
    display: block;
    position: absolute;
    top: 85px;
    right: 88px;
    height: 300px;
  }

  .running-woman-picture {
    display: block;
    height: auto;
    width: 21.3%;
  }
}
//   .brand-banner {
//     width: 100%;
//   }

//   .banner-container {
//     position: absolute;
//   }

//   .main-title {
//     position: relative;
//     top: 0;
//     left: 0;
//   }
// }
