@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";

.main-container {
    display: flex;
}

.subscription {
    background: linear-gradient(253deg, rgba(2,0,36,1) 0%, rgba(44,38,38,1) 35%);
    width: 53%;
}

.login {
    width: 47%;
}

form {
    display: flex;
    flex-direction: column;
}