@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";

$overlayWidth: 50%;
$formWidth: 50%;

#main-container {
    background: linear-gradient(253deg, rgba(2, 0, 36, 1) 0%, rgba(44, 38, 38, 1) 35%);
    color: $white;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 100%;

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
        overflow: hidden;
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: $overlayWidth;
        width: $overlayWidth;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;

        .overlay {
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
        }
    }

    .login,
    .subscription {
        left: 0;
        padding-top: 1rem;
        width: $formWidth;
    }

    .login {
        z-index: 2;
    }

    .subscription {
        opacity: 0;
        z-index: 1;
    }
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

#main-container {
    &.right-panel-active {
        .overlay-container {
            transform: translateX(-100%);
        }

        .login {
            transform: translateX(100%);
            opacity: 0;
        }

        .subscription {
            transform: translateX(100%);
            opacity: 1;
            z-index: 5;
            animation: show 0.6s;
        }

        .overlay {
            transform: translateX($overlayWidth);
        }

        .overlay-left {
            transform: translateX(0);
        }
    }
}

.overlay-panel {
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: $overlayWidth;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    color: $white;

    h1 {
        text-transform: uppercase;
        margin-top: 16rem;
        width: 30rem;
        font-weight: normal;
    }

    .ghost {
        background-color: transparent;
        border: 0.1rem $white solid;
        color: $white;
        outline: none;
        cursor: pointer;
        padding: 1rem 5rem;
        text-transform: capitalize;
        font-weight: bold;
        background-color: $white;
        color: $lightBlack;

        &:focus {
            border: 0.1rem $white solid;
        }
    }
}

.overlay-left {
    background-image: url(../images/banners/login-banner.png);
}


.overlay-right {
    background-image: url(../images/banners/register-banner.png);
    color: $lightBlack;
    right: 0;
    transform: translateX(0);
}

.overlay-left,
.overlay-right {
    background-repeat: no-repeat;
    background-size: contain;
}



.subscription-content-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.form-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $white;
        font-size: 45px;
    }
}

.orange-highlight {
    color: $orange;
}

.red-highlight {
    color: $redButtonColour;
    font-size: 16px;
    font-style: italic;
}

.red-borders {
    border: 3px solid $redButtonColour;
}

.separator-container {
    width: 80%;
    display: flex;
    margin-left: 8%;
    margin-top: 2%;
    justify-content: flex-start;
}

.orange-horizontal-line {
    height: 2px;
    width: 20%;
    background-color: $orange;
}


form {
    display: flex;
    flex-direction: column;
    color: $white;

    label {
        margin: 2% 0 2% 0;
    }

    input {
        margin: 1% 0 1% 0;
        padding: 1%;
    }

    button {
        @include button($orange);
        width: 100%;
    }

    .GDPR-verification-container {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }
}

.checkbox {
    margin-right: 5px;
}

.register-separator-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.white-separator {
    height: 2px;
    width: 45%;
    background-color: white;
}

.social-network-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    h3 {
        text-align: center;
    }
}

.social-network-icons-container {
    display: flex;
    justify-content: space-around;

    img {
        width: 40px;
        height: 40px;
    }
}