@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/mixins";
@import "common/fonts";
@import "common/responsive";

body {
    background: rgb(0,0,0);
    background: linear-gradient(222deg, rgba(0,0,0,1) 0%, rgba(44,38,38,1) 35%);
}

.main-container {
    display: none;
}

.mobile-order-overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-cart-product-infos-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.product-picture {
    height: 115px;
    width: auto;
}

.product-general-infos {
    display: flex;
    flex-direction: column;
    color: white;
    width: 65%;
}

.mobile-product-quantity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantities-form {
    width: 27%;
    height: auto;
    display: flex;
    justify-content: center;

    input {
        width: 30%;
        height: auto;
        padding: 5px;
    }
}

.order-card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color:black;
        font-size: 15px;
        text-transform: uppercase;
        padding: 10px;
        text-decoration-color: #606060;
        text-decoration-line: underline;
        text-underline-offset: 15px;
    }
}

.order-overview-card {
    display: none;
}

.mobile-order-overview-infos-container {
    display: flex;
    justify-content: center;
}

.mobile-card-container {
    width: 80%;
    background-color: white;
}

.mobile-order-overview-card {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px;
}

.delete-button {
    background-color: transparent;
    cursor: pointer;
}

.highlight-grey {
    color: #867E7E;
}

.highlight-black {
    color: black;
}

.order-validation-button {
    @include button($orange);
    color: black;
    font-size: 20px;
    width: 80%;
    margin-top: 20px;
}

.disabled-button {
    @include button($lightGrey);
    color: black;
    font-size: 20px;
    cursor: not-allowed;
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
    width: 80%;
    margin-top: 20px;
}

@media #{$media-up} {

 

    table {
        width: 100%;
    }

    #products {
        width: 100%;
        border-collapse: collapse;
        color: $white;
    }

    #products thead {
        background-color: #F6AF33;
    }

    #products td, #products th {
        padding: 8px;
      }

    #products th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        color: white;
      }

      .product-picture {
          width: 60px;
          height: auto;
      }

      #products button {
        background-color: transparent;
        cursor: pointer;
      }

    .main-container {
        display: flex;
    }

    .products-overview-container {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }

    .products-overview-container-informations-container {
        width: 80%;
        h2 {
            font-size: 43px;
            margin-bottom: 20px;
        }
    }

    .table-products-container {
        overflow-y: auto;
        height: 100%;
    }

    .icon-size{
        height: 30px;
        width: auto;
    }

    .order-overview-card {
        display: block;
        width: 40%;
    }

    .order-overview-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 50%;
    }

    .order-card-title {
        h2 {
            color :black;
            font-size: 18px;
            text-transform: uppercase;
            text-decoration-color: #606060;
            text-decoration-line: underline;
            text-underline-offset: 15px;
        }
    }

    .order-overview-infos-container {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    .horizontal-separator {
        height: 2px;
        background-color: #606060;
        width: 80%;
    }

    .order-validation-button {
        @include button($orange);
        color: black;
        font-size: 20px;
    }

    .disabled-button {
        @include button($lightGrey);
        color: black;
        font-size: 20px;
        cursor: not-allowed;
        color: currentColor;
        opacity: 0.5;
        text-decoration: none;
    }

    .mobile-order-overview-container {
        display: none;
    }
}