@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";
@import "common/scrollbar";

html, body {
    background: rgb(34,32,32);
    background: linear-gradient(142deg, rgba(34,32,32,1) 35%, rgba(65,59,59,1) 100%);
    color: $white;
}

.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pink-borders {
    border: 1px solid $pink;
}

.blue-borders {
    border: 1px solid $blue;
}

.orange-borders {
    border: 1px solid $lightYellow;
}

.green-borders {
    border: 1px solid $lightGreen;
}

.user-general-informations-wrapper {
    padding: 30px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17%;
}

.long-title-size {
    width: 27%;
}

.medium-title-size {
    width: 22%;
}



@media #{$media-up} {
    .horizontal-separator {
        background-color: $lightYellow;
        height: 2px;
        margin: 5px;
    }
    
    .top-line {
        width: 85%;
    }
    
    .middle-line {
        width: 80%;
    }
    
    .bottom-line {
        width: 75%;
    }
    
    .sections-container {
        display: flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-around;
        margin: 20px;
    }
    
    section {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    
    .user-general-informations-wrapper {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .user-general-informations-container {
        display: flex;
        flex-direction: column;
    }
    
    .line {
        display: flex;
    }
    
    .modify-background {
        background-color: transparent;
    }
    
    .user-contact-informations-container {
        display: flex;
        flex-direction: column;
    }
    
    table {
        border-collapse: collapse;
    
        thead {
            background-color: white;
            color: black;
        }
    }
    
    .cell-margin {
        margin: 15px;
    }
    
    .cell-padding{
        padding: 20px;
    }
    
    .orders-cell-size {
        height: 61%;
        overflow-y: auto;
    }
    
    .wishlist-cell-size {
        height: 32%;
        overflow-y: auto;
    }
    
    .orders-cell-size {
        height: 72%;
    }


}

