@import "common/reset";
@import "common/header";
@import "common/mobileHeader";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";
@import "common/scrollbar";

html, body {
    background: rgb(34,32,32);
    background: linear-gradient(142deg, rgba(34,32,32,1) 35%, rgba(65,59,59,1) 100%);
    color: $white;
    font-size: 11px;
}

.profile-header {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.horizontal-separator {
    background-color: $lightYellow;
    height: 2px;
    margin: 5px;
}

.top-line {
    width: 85%;
}

.middle-line {
    width: 80%;
}

.bottom-line {
    width: 75%;
}

.sections-container {
    width: 90%;
    margin: 0 auto;
}

.long-title-size {
    width: 50%;
}

.pink-borders {
    border: 1px solid $pink;
}

.blue-borders {
    border: 1px solid $blue;
}

.orange-borders {
    border: 1px solid $lightYellow;
}

.green-borders {
    border: 1px solid $lightGreen;
}

.mobile-sections-margins {
    margin: 20px 0 20px 0;
}

.cell-margin {
    margin: 0 0 15px 0;
}

.user-general-informations-container {
    padding: 30px;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
        display: flex;
        //justify-content: flex-end;
        //height: 30px;
        align-items: center;
        width: 130px;
        justify-content: flex-end;
    }
}

.input-field {
    width: 50%;
    margin: 0 5px 0 5px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 17%;
}

.long-title-size {
    width: 50%;
}

.medium-title-size {
    width: 40%;
}

.desktop-delete-account-form {
    display: none;
}

.mobile-delete-button {
    cursor: pointer;
    background-color: #cd2222;
    color: white;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 5px;
    width: 39%;
    font-size: 12px;
    margin: 5px 8px 10px 18px;
}



@media #{$media-up} {

    html, body {
        font-size: 16px;
    }

    .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .profile-header {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 20px;
    }


    .long-title-size {
        width: 28%;
    }

    .medium-title-size {
        width: 22%;
    }
    
    
    .sections-container {
        display: flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-around;
        margin: 20px;
    }
    
    section {
        width: 45%;
        display: flex;
        flex-direction: column;
    }
    
    .user-general-informations-wrapper {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .mobile-sections-margins {
        margin: 0;
    }
    
    .user-general-informations-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .line {
        display: flex;
        justify-content: space-between;
        form {
            display: flex;
            //justify-content: flex-end;
            //height: 30px;
        }
    }

    .input-field {
        width: auto;
    }
    
    .modify-background {
        background-color: transparent;
    }
    
    .user-contact-informations-container {
        display: flex;
        flex-direction: column;
    }
    
    table {
        border-collapse: collapse;
    
        thead {
            background-color: white;
            color: black;
        }
    }
    
    .cell-margin {
        margin: 15px;
    }
    
    .cell-padding{
        padding: 20px;
    }
    
    .orders-cell-size {
        height: 61%;
        overflow-y: auto;
    }
    
    .wishlist-cell-size {
        height: 32%;
        overflow-y: auto;
    }
    
    .orders-cell-size {
        height: 66%;
    }

    .mobile-delete-account-form {
        display: none;
    }

    .desktop-delete-account-form {
        display: block;
    }

    .delete-button {
        @include button($redButtonColour);
        cursor: pointer;
        background-color: #cd2222;
        color: white;
        padding: 5px 0;
        font-weight: bold;
        border-radius: 5px;
        width: 30%;
        font-size: 14px;
        margin: 0 15px 0 15px;
    }
}

