@import "common/fonts";
@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";



html,
body {
  background-color: #2c2626;
}

.banner-container {
  display: none;
}

.shop-banner {
  width: 100%;
}

.brand-research-container {
  margin-left: 39px;
}

.subtitle {
  margin: 20px 0;
  font-family: "play";
}

.brand-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.brand-card {
  width: 62%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #211e1e;
  border-radius: 10px;
}

.brand-select-button {
  background-color: transparent;
}

.runzik-card-logo {
  width: 72px;
  height: 37px;
}

.beats-card-logo {
  width: 62%;
}

.brand-card-logo {
  width: 62%;
  height: auto;
}

.scroll-list-container {
  display: none;
}

.products-grid-container {
  padding-bottom: 30px;
}

.products-line-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3%;
  column-gap: 3%;
  overflow: auto;
}

.product-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #211e1e;
  justify-content: center;
  border-radius: 20px;
  justify-self: center;
  padding: 16px 0;
}

.fas {
  cursor: pointer;
  height: 40px;
  color: white;
  width: 40px;
  margin-left: auto;
  border-radius: 50%;
  margin-right: 10px;
}



.wishlist-unselected{
  background-color: $add-to-wishlist-unselected;
  
}

.wishlist-selected {
  background-color: $add-to-wishlist-selected;
  
}

.watch {
  width: 70%;
}

.headphone {
  width: 70%;
}

.armband {
  width: 70%;
}

.miniature-product-container {
  display: flex;
}

.miniature-product {
  height: 30px;
}

.product-name {
  font-weight: bold;
  margin: 11px;
}

.product-price {
  color: $white;
}

.red-button {
 display: none;
}

.button-content {
  display: none;
}

@media #{$media-up} {
  .banner-container {
    display: block;
    position: relative;
    h1 {
      font-size: 40px;
    }
  }

  .header-container {
    width: 100%;
    position: absolute;
    top:0;
  }

  .banner-title {
    position: absolute;
    top: 37%;
    left: 16%;
    font-weight: bold;
    color: $white;
    font-family: "Oswald";
  }

  .orange-highlight {
    color: $orange;
  }

  .banner-text {
    
    position: absolute;
    top: 53%;
    left: 16%;
    font-style: italic;
    color: $white;
    font-size: 20px;
    font-family: "Roboto Light";
    word-spacing: 3px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .products-research-options-container {
    display: flex;
    justify-content: space-around;
  }

  .brand-research-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }

  .brand-cards-container {
    display: flex;
    justify-content: space-between;
  }

  .subtitle {
    margin: 25px 0px;
    font-family: "Play Bold";
    font-size: 18px;
  }

  .brand-card {
    width: 20%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211e1e;
    border-radius: 10px;
  }

  .brand-card-logo {
    width: auto;
    height: 50px;
  }

  .scroll-list-container {
    display: flex;
    align-items: center;
    label {
      color: $white;
    }
  }

  #product-select {
    background-color: transparent;
    border: solid $white 2px;
    color: white;
  }

  .scroll-list-options {
    color: $white;
  }

  .products-line-container {
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    row-gap: 3%;
  }

  .product-card {
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #211e1e;
    justify-content: center;
    border-radius: 20px;
    justify-self: center;
  }

  .add-to-wishlist-form-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .wishlist-icon {
    height: 30px;
  }

  .red-button {
    display: block;
    @include button($redButtonColour);
   }

   .button-content {
     display: block;
   }

  // .watch {
  //   width: auto;
  //   height: 200px;
  // }

  // .headphone {
  //   width: auto;
  //   height: 200px;
  // }

  // .armband {
  //   width: 100%;
  // }
  
}
