@import "common/fonts";
@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";


.mobile-header {
  position: absolute;
  top: 0;
}

.banner-container {
  position: relative;
}

.banner-title {
  position: absolute;
  // top: 15%;
  // right: 10%;
  // font-size: 15px;
  width: 40%;
  font-family: "Oswald";
  color: $white;
  word-spacing: 2px;

  font-size: 12px;
  top: 27%;
  right: 4%;
}

.banner-button {
  @include button($blue);
  position: absolute;
  // top: 24%;
  // right: 28%;

  font-size: 9px;
  width: 20%;
  top: 48%;
  right: 24%;
}

.new-releases{
  background-color: black;
  position: relative;
}

.new-realeases-title {
  padding-top: 3%;
  padding-left: 12%;
  color: white;
}

.sound-effect-picture {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 80%;
  }
}

.last-releases-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.new-trend-release-picture-container {
  position: absolute;
  right: 2%;
  top: 3%;
  img {
    height: 186px;
  }
}

.products-thumbnails-container {
  display: none;
}

%vertical-separator {
  height: 1.5px;
  width: 30px;
  background-color: $pink;
}

.new-releases-label-title {
  color: $white;
  font-family: "Rock Salt";
  text-align: center;
}

.vertical-separator {
  @extend %vertical-separator;
  margin-top:25px
}

.release-separator {
  @extend %vertical-separator;
  margin: 0;
}

.mobile-thumbnails-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: 10px;
}

.mobile-products-line {
  display: flex;
  justify-content: space-around;
}

.mobile-thumbnails-container {
  width: 40%;
}

.mobile-new-trend-product-picture {
  width: 100%;
}

.last-trends-container {
  background-color: $lightBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.last-trends-title-container {
  padding-top: 15px;
  margin: 20px;
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
}

.trend-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-button {
  @include button($redButtonColour);
  width: 90%;
  font-size: 12px;
  border-radius: 8px;
  padding: 10px 14px;
}

.stay-tune-section-container {
  display: flex;
  flex-direction: column-reverse;
  background-color: $black-background;
}

.stay-tune-picture {
  width: 100%;
}

.stay-tune-text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: $white;
  justify-content: center;
  align-items: center;
}

.stay-tune-text-container {
  font-family: "Roboto Thin";
  width: 70%;
}

.stay-tune-title {
  font-size: 45px;
  color: $white;
  font-family: "Rock Salt";
}

.stay-tune-title-subtitle {
  font-size: 35px;
  color: $white;
  font-family: "Roboto";
}

.stay-tune-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.stay-tune-title {
  font-size: 28px;
  color: white;
  font-family: "Rock Salt";
}

.stay-tune-title-subtitle {
  font-size: 28px;
  color: white;
  font-family: "Roboto";
}

.pink-highlight {
  color: $pink;
}

.thin-font {
  font-family: "Roboto Thin";
}

.handwritten-font-effect {
  font-family: "Rock Salt";
}

@media #{$media-up} {
  .banner-container {
    display: block;
    position: relative;
  }

  .header-container {
    width: 100%;
    position: absolute;
    top:0;
  }

  .main-page-banner {
    width: 100%;
  }

  .banner-title {
    top: 45%;
    right: 23%;
    font-weight: bold;
    font-size: 45px;
    word-spacing: 20px;
    letter-spacing: 1px;
    width: 25%;
    
  }

  .banner-button {
    @include button($blue);
    width: 15%;
    top: 65%;
    right: 33%;
  }

  .orange-highlight {
    color: $orange;
  }

  .banner-text {
    
    position: absolute;
    top: 53%;
    left: 16%;
    font-style: italic;
  }

  .new-releases {
    background-color: $black-background;
    position: relative;
  }

  .new-realeases-title {
    padding-top: 3%;
    padding-left: 12%;
    color: $white;
    span {
      font-size: 45px;
    }
  }

  .medium-title {
    font-size: 25px;
  }

  .big-font {
    font-family: "Saira";
    font-size: 75px;
    margin:0;
  }

  .medium-font-size {
    font-size: 40px;
  }

  .thin-font {
    font-family: "Roboto Thin";
    margin: 0;
    font-size: 30px;
  }

  .sound-effect-picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .last-releases-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .new-releases-label-title {
    color: $white;
    font-family: "Rock Salt";
    text-align: center;
  }

  // %vertical-separator {
  //   height: 1.5px;
  //   width: 30px;
  //   background-color: $pink;
  // }

  // .vertical-separator {
  //   @extend %vertical-separator;
  //   margin-top:25px
  // }

  // .release-separator {
  //   @extend %vertical-separator;
  //   margin: 0;
  // }

  .new-trend-release-picture-container {
    position: absolute;
    right: 2%;
    top: 3%;
    // opacity: 0;
    // transform: scale(0.1);
    // transition: all 1s ease-in-out;
    img {
      height: 600px;
    }
  }

  // .active {
  //   opacity: 1;
  //   transform: scale(1);
  // }

  .products-thumbnails-container {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;

  }

  .mobile-thumbnails-products-container {
    display: none;
  }

  .last-trends-container {
    background-color: $lightBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .last-trends-title-container {
    padding-top: 0;
    margin: 20px;
    h2 {
      font-weight: bold;
      font-size: 40px;
    }
  }

  .trends-products-container {
    display: flex;
    justify-content: center;
  }

  .trend-product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    img {
      height: 500px;
      width: auto;
      opacity: 1;
      transition: .5s ease;
    }
    a {
      @include button($redButtonColour);
    }
  }

  //test

  .trend-product:hover .trend-product-image {
    opacity: 0.3;
  }

  .trend-product-hidden-link-container {
    opacity: 0;
    transition: .5s ease;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .trend-product:hover .trend-product-hidden-link-container {
    opacity: 1;
  }

  .new-trend-product-picture {
    transform: scale(1);
    transition: .3s ease-in-out;
  }

  .thumbnails-container:hover .new-trend-product-picture{
    transform: scale(1.3);
  }
  

  .stay-tune-section-container {
    display: flex;
    flex-direction: row;
  }

  .picture-container {
    width: 50%;
    height: auto;
  }

  .stay-tune-text-wrapper {
    width: 50%;
  }

  .stay-tune-text-container {
    font-family: "Roboto Thin";
    width: 70%;
  }

  .stay-tune-title {
    font-size: 45px;
  }

  .stay-tune-title-subtitle {
    font-size: 35px;
  }
}