@import "common/reset";
@import "common/header";
@import "common/footer";
@import "common/colours";
@import "common/fonts";
@import "common/buttons";
@import "common/mixins";
@import "common/responsive";

body {
    background-color: $lightBlack;
}

.modal {
    background-color: grey;
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal-show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background-color: white;
    max-width: 90vw;
    margin: auto;
    flex: 1;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-header {
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 10px
}

.modal-footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.btn {
    padding: 5px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

.btn-close {
    background-color: red;
}