$black-background: black;
$orange: #ff6b00;
$white: white;
$yellow: #fce300;
$lightYellow: #F6AF33;
$blue: #2162d0;
$lightBlack: #2c2626;
$footerBlack: #423939;
$lightGrey: #b1b1b1;
$redButtonColour : #cd2222;
$pink: #FF4D9C;
$add-to-wishlist-unselected: #A5A5A5;
$add-to-wishlist-selected: #EF3340;
$lightGreen: #00E5A6;
